h6{
   display:flex;
   justify-content: center;
    color:rgb(20, 20, 20);
    
    font-size:medium;
}
h5{
    display:flex;
    justify-content: center;
     color:rgb(18, 19, 19);
  
     font-size:medium;
}
body{
    background-color: antiquewhite;
}